# IDE
*.sublime-workspace
*.sublime-project
.ipynb_checkpoints/
.vscode

# build
__pycache__
*.pyc
*.zip
*.rdb
*.egg-info
podpac/cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuration
app/json/config.json
